<!doctype html>
<html>

{include file="Public/head"}




        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 表单
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>


            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">


                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" action="do_add_calendar" method="post">
                            <!-- <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">班级 / class</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="user-name" name="tid" placeholder="班级/class">
                                    <small>请输入班级</small>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">教室/ classrom</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="user-email" name="class_id" placeholder="请输入教室/classroom">
                                    <small>教室你懂得...</small>
                                </div>
                            </div> -->

                            <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">星期几</label>
                                <div class="am-u-sm-9">
                                    <!-- <input type="text" id="user-phone" name="title" placeholder="请输入标题 / title"> -->
                                     <select name="day" id="tid">
                                            <option>请选择星期几</option>
                                           {foreach item="xingqi" name="xingqi"}
                                           <option value="{$xingqi}">星期{$xingqi}</option>
                                           {/foreach}
                                     </select>
                                </div>
                            </div>
                             <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">课程</label>
                                <div class="am-u-sm-9">
                                    <!-- <input type="text" id="user-phone" name="title" placeholder="请输入标题 / title"> -->
                                     <select name="title" id="tid">
                                            <option>请选择第几节课</option>
                                           {foreach item="jieke" name="jieke"}
                                           <option value="{$jieke}">{$jieke}</option>
                                           {/foreach}
                                     </select>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">开始时间 <span class="tpl-form-line-small-title">Time</span></label>
                                <div class="am-u-sm-9">
                                    <input type="time" class="am-form-field tpl-form-no-bg" placeholder="开始时间" name="starttime"  />
                                    <small>开始时间必填</small>
                                    <!-- data-am-datepicker="" 时间控件-->
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">结束时间 <span class="tpl-form-line-small-title">Time</span></label>
                                <div class="am-u-sm-9">
                                    <input type="time" class="am-form-field tpl-form-no-bg" placeholder="结束时间" name="endtime"  />
                                    <small>预计结束时间</small>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">内容 / Intro</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" rows="5" name="content" id="user-intro" placeholder="内容"></textarea>
                                    <small>活动内容...</small>
                                </div>





                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="sumbit" class="am-btn am-btn-primary">保存修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>










    </div>

</div>


{include file="Public/foot"}
</body>

</html>