<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__assets/css/app.css">
</head>

<body>


<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            添加规则
        </div>



    </div>
    <div class="tpl-block ">

        <div class="am-g tpl-amazeui-form">


            <div class="am-u-sm-12 am-u-md-9">
                <form class="am-form am-form-horizontal" action="{:url('Index/do_rules')}" method="post">
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">英文名称 / GroupName</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="rule_en_name" name="name" placeholder="姓名 / Name">
                            <small id="showenmsg"></small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">中文名称 /CHName</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="ruels_title" name="title" placeholder="姓名 / Name">
                            <small id="showtitle"l></small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">状态 / Status</label>
                        <div class="am-u-sm-9">
                            <input type="radio" name="status" value="1" checked="checked"><small>启用</small>
                            <input type="radio" name="status" value="0"><small>禁用</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">级别 / Rank</label>
                        <div class="am-u-sm-9">
                            <input type="radio" name="level" value="1" checked="checked"><small>模块</small>
                            <input type="radio" name="level" value="2"><small>控制器</small>
                            <input type="radio" name="level" value="3"><small>方法</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label"> 上一级 / LastJi</label>
                        <div class="am-u-sm-9">
                            <select  name="parentid">
                                <option value="0"></option>
                                {volist id="vo" name="rulelist"}
                                <option value="{$vo.id}">{$vo.title}</option>
                                {volist id="sec" name="vo.second"}
                                <option value="{$sec.id}">&nbsp;&nbsp;&nbsp;{$sec.title}</option>
                                {/volist}
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



<script src="__STATIC__assets/js/jquery.min.js"></script>
<script src="__STATIC__assets/js/amazeui.min.js"></script>
<script src="__STATIC__assets/js/app.js"></script>
<script type="text/javascript">
    $('#rule_en_name').blur(function(){
        var Enname=$(this).val();
        if(Enname=='')
        {
            $('#showenmsg').html('英文名称不可为空');
            $('#showenmsg').css('color','red');
            $('.am-btn-primary').attr('disabled',true);
            return false;
        }
        //alert(Enname);
        $.ajax({
            url:"{:url('Index/checkenname')}",
            type:"post",
            data:{names:Enname},
            success:function(data){
                $('#showenmsg').html(data.msg);
                if(data.status)
                {
                    $('#showenmsg').css('color','red');
                    $('.am-btn-primary').attr('disabled',true);
                }
                else
                {
                    $('#showenmsg').css('color','green');
                    $('.am-btn-primary').attr('disabled',false);
                }
            }
        });
    });
    //中文
    $('#ruels_title').blur(function(){
        var chinese=$(this).val();
        if(chinese=='')
        {
            $('#showtitle').html('中文名称不可为空');
            $('#showtitle').css('color','red');
            $('.am-btn-primary').attr('disabled',true);
            return false;
        }
        //alert(Enname);
        $.ajax({
            url:"{:url('Index/checktitle')}",
            type:"post",
            data:{names:chinese},
            success:function(data){
                $('#showtitle').html(data.msg);
                if(data.status)
                {
                    $('#showtitle').css('color','red');
                    $('.am-btn-primary').attr('disabled',true);
                }
                else
                {
                    $('#showtitle').css('color','green');
                    $('.am-btn-primary').attr('disabled',false);
                }
            }
        });
    });
</script>
</body>

</html>