<!doctype html>
<html>

{include file="Public/head"}

<body>

<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> 表单
        </div>
        <div class="tpl-portlet-input tpl-fz-ml">
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <i class="am-icon-search"></i>
                    <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
            </div>
        </div>


    </div>
    <div class="tpl-block ">

        <div class="am-g tpl-amazeui-form">


            <div class="am-u-sm-12 am-u-md-9">
                <form action="{:url('Index/do_addstudent')}" method="post" enctype="multipart/form-data" class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="sname" id="user-name" placeholder="姓名 / Name">
                            <small>输入你的名字，让我们记住你。</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">头像 / Photo</label>
                        <div class="am-u-sm-9">
                            <div class="am-form-group am-form-file">
                                <div class="tpl-form-file-img">
                                    <img style="max-height: 200px; width: auto;" id="preview" src="http://www.ryaonet.cn/public/static/assets/img/a5.png" alt="">
                                </div>
                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                    <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                                <input id="doc-form-file" name="studentphoto" type="file" multiple>
                            </div>
                        </div>
                    </div>


                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">性别 / Sex</label>
                        <div class="am-u-sm-9">
                            <input type="radio" value="1" name="sex"><small>男</small>
                            <input type="radio" value="0" name="sex"><small>女</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">老师ID / TeacherId</label>
                        <div class="am-u-sm-9">
                            <!-- <input type="text" name="tid"><small>输入这孩子老师的ID</small> -->
                              <select name="tid" id="tid">
                             <option>请选择老师姓名</option>
                                           {foreach item="tname" name="tname"}
                                           <option value={$tname.id} >{$tname.truename}</option>
                                           {/foreach}
                             </select>
                            <small>输入这孩子老师的姓名</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">家长ID / familyId</label>
                        <div class="am-u-sm-9">
                            <!-- <input type="text" name="fid"><small>输入这孩子家长的ID</small> -->
                             <select name="fid" id="fid">
                             <option>请选择家长姓名</option>
                                           {foreach item="fname" name="fname"}
                                           <option value={$fname.id} >{$fname.truename}</option>
                                           {/foreach}
                             </select>
                            <small>输入这孩子家长的姓名</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">班级 / Class</label>
                        <div class="am-u-sm-9">

                            <select name="class_id" id="fid">
                             <option>请选择所在班级</option>
                                           {foreach item="class" name="class"}
                                           <option value={$class.id} >{$class.class_name}</option>
                                           {/foreach}
                             </select>
                            <small>所属班级</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">出生年月 / Birthday</label>
                        <div class="am-u-sm-9">
                            <input type="date" name="birth" id="user-phone" placeholder="输入出生年月 / Telephone">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">入院时间</label>
                        <div class="am-u-sm-9">
                            <input type="date" name="intotime"  id="" placeholder="输入入园时间">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">地址 / Address</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="address"  placeholder="输入你的地址 / Address">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{include file="Public/foot"}
<script type="text/javascript">
    $(function() {
        $("#doc-form-file").change(function() {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview");

            if(fileObj && fileObj.files && fileObj.files[0]){
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src',dataURL);
            }else{
                dataURL = $file.val();
                var imgObj = document.getElementById("preview");
// 两个坑:
// 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
// 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });
    });

</script>
</body>

</html>