<!doctype html>
<html>

{include file="Public/head"}

<body>

    {include file="Public/head"}

        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 表单
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>


            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">


                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" action="{:url('do_comment')}" method="post">


                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">学生姓名</label>
                                <div class="am-u-sm-9">
                                 <select name="sid">
                                     <option >请选择</option>
                                     {foreach item="jiaoshi" name="student"}
                                     <option value="{$jiaoshi.id}">{$jiaoshi.sname}</option>
                                     {/foreach}

                                 </select>
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">教师姓名</label>
                                <div class="am-u-sm-9">
                                    <select name="tid">
                                        <option>请选择</option>
                                        {foreach item="list" name="list"}
                                        <option value="{$list.id}">{$list.truename}</option>
                                        {/foreach}
                                    </select>
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">评论</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" rows="5" id="user-intro" placeholder="输入个人评论" name="content"></textarea>
                                    <small>250字以内写出你的评论...</small>
                                </div>
                            </div>




                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>



<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</body>

</html>