<!doctype html>
<html>
{include file="Public/head"}

<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> 列表
        </div>
        <div class="tpl-portlet-input tpl-fz-ml">
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <i class="am-icon-search"></i>
                    <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
            </div>
        </div>


    </div>
    <div class="tpl-block">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group -xs">
                        <a type="button" href="{:url('Index/addfamily')}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                       
                        <a type="button"  id="delete" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</a>
                    </div>
                </div>
            </div>
          
           
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form" action="{:url('Index/delfamily')}" method="post">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox" id="quanxuan" class="tpl-table-fz-check"></th>
                            <th class="table-id">ID</th>

                            <th class="table-title">家长姓名</th>
                            <th class="table-type">昵称</th>
                            <th class="table-date am-hide-sm-only">性别</th>
                            <th class="table-date am-hide-sm-only">是否激活</th>
                            <th class="table-id">手机号</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist id="vo" name="list"}
                        <tr>
                            <td><input type="checkbox"  value="{$vo.id}" class="ids"></td>
                            <td>{$vo.id}</td>
                            <td><a href="#">{$vo.truename}</a></td>
                            <td class="am-hide-sm-only">{$vo.nickname}</td>
                            <td>{$vo.sex?'女':'男'}</td>
                            <td>{$vo.status?'激活':'未激活'}</td>
                            <td class="am-hide-sm-only">{$vo.telphone}</td>


                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="{:url('Index/upfamily',['id'=>$vo['id']])}" ><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                        
                                        <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="{:url('Index/delfamily',['id'=>$vo['id']])}"><span class="am-icon-trash-o"></span> 删除</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/volist}


                        </tbody>
                    </table>
                    <div class="am-cf">

                        <div class="am-fr">
                            {$page}
                        </div>
                    </div>
                    <hr>

                </form>
            </div>

        </div>
    </div>
    <div class="tpl-alert"></div>
</div>










</div>

</div>


{include file="Public/foot"}
<script type="text/javascript">
    $('#quanxuan').click(function(){
        if($(this).is(':checked'))
        {
            $('.ids').prop('checked',true);
        }else
        {
            $('.ids').prop('checked',false);
        }

    });
    $('#delete').click(function(){
        var idds='';
        $('.ids').each(function () {
            if($(this).is(':checked'))
            {
                idds+=$(this).val()+',';
            }

        });
        idds=idds.substr(0,idds.length-1);
        window.location.href="/index.php/admin/Index/delfamily/id/"+idds;
    })
</script>
</body>

</html>