<div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
               智慧幼儿园 列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="index.html" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                 <!--    <li class="tpl-left-nav-item">
                     <a href="chart.html" class="nav-link tpl-left-nav-link-list">
                         <i class="am-icon-bar-chart"></i>
                         <span>数据表</span>
                         <i class="tpl-left-nav-content tpl-badge-danger">
                                12
                              </i>
                     </a>
                 </li> -->


                     <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>教师表</span>

                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
      
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="1" data_id="{:url('Index/teacherlist')}">教师信息</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="2" data_id="{:url('Index/recordlist')}">记录信息</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                            </li>
                        </ul>
                    </li>
            
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>智慧幼儿园</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="3" data_id="{:url('Index/familylist')}">家长表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="4" data_id="{:url('Index/studentlist')}">学生表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>相册</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                            <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="5" data_id="{:url('Index/ablumnlist')}">相册表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                            
                            <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab"  data_sid="6" data_id="{:url('Index/photo_grouplist')}">相册分组</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>
                            
                               
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>幼儿管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="7" data_id="{:url('Index/userlist')}">幼儿列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                              <!--  <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_id="{:url('Index/grouplist')}">用户组列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
-->
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="8" data_id="{:url('Index/calendar_list')}">日程表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                                
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>话题管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="9" data_id="{:url('Index/themelist')}">话题列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                        </ul>
                    </li>
     <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>校园动态</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="9" data_id="{:url('Index/noticelist')}">动态列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>校园通知</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="10" data_id="{:url('Index/add_news')}">添加通知</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="11" data_id="{:url('Index/newslist')}">通知列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                       <!--  <a href="javascript:" class="active">
                           <i class="am-icon-angle-right"></i>
                           <span class="js-append-tab" data_sid="12" data_id="{:url('Index/add_new_cate')}">添加新闻分类</span>
                           <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                       </a>
                       <a href="javascript:" class="active">
                           <i class="am-icon-angle-right"></i>
                           <span class="js-append-tab" data_sid="13" data_id="{:url('Index/new_catelist')}">新闻分类列表</span>
                           <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                              
                       </a> -->
                    </li>
                </ul>
            </li>



                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>班级表</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="14" data_id="{:url('Index/do_teacher')}">班级添加</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="15" data_id="{:url('Index/comment')}">教师评论</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="17" data_id="{:url('Index/xiugai')}">教师修改</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>

                                </a>
                            </li>
                        </ul>
                    </li>
                    
  <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>班级作业</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="14" data_id="{:url('Index/classes')}">班级作业</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                              
                            </li>
                        </ul>
                    </li>


                <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>即时通讯</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="9" data_id="{:url('Index/telephonelist')}">通讯列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                        </ul>
                    </li>


                <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>成长乐园</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="javascript:" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span class="js-append-tab" data_sid="9" data_id="{:url('Index/leyuanlist')}">乐园列表</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                        </ul>
                    </li>
               


            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>后台管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>

                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="18" data_id="{:url('Index/rulelist')}">规则列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_sid="19" data_id="{:url('Index/group_grouplist')}">用户组列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
                  <!--   <li class="tpl-left-nav-item">
                      <a href="login.php" class="nav-link tpl-left-nav-link-list">
                          <i class="am-icon-key"></i>
                          <span>登录</span>
                  
                      </a>
                  </li> -->
                </ul>
            </div>
        </div>
