<!doctype html>
<html>

<head>
{include file="public/css"}
</head>

<body data-type="generalComponents">








        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>


            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a type="button" href="{:url('Index/xinwen')}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                <a type="button" href="{:url('Index/upxinwen')}"  class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-edit"></span> 编辑</a>
                                <a type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</a>
                                <a type="button" href="{:url('Index/delxinwen')}" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}">
                                <option value="option1">所有类别</option>
                                <option value="option2">IT业界</option>
                                <option value="option3">数码产品</option>
                                <option value="option3">笔记本电脑</option>
                                <option value="option3">平板电脑</option>
                                <option value="option3">只能手机</option>
                                <option value="option3">超极本</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">

                    <div class="tpl-table-images">
                        {volist id="vo" name="zhi"}
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-4"  style="float:left;">

                            <div class="tpl-table-images-content">
                                <div class="tpl-table-images-content-i-time">发布时间：{$vo.time}</div>
                                <div class="tpl-i-title">
                                    {$vo.title}
                                </div>
                                <a href="javascript:;" class="tpl-table-images-content-i">
                                    <div class="tpl-table-images-content-i-info">
                                            <span class="ico">
                                    <img src="__UPLOADS__/{$vo.photo}" alt="">追逐
                                 </span>

                                    </div>
                                    <span class="tpl-table-images-content-i-shadow" ></span>
                                    <img src="__UPLOADS__/{$vo.photo}" style="height:253px;" alt="">
                                </a>
                                <div class="tpl-table-images-content-block">
                                    <div class="tpl-i-font">
                                        {$vo.neirong}
                                    </div>
                                    <div class="tpl-i-more">
                                        <ul>
                                            <li><span class="am-icon-qq am-text-warning"> 100+</span></li>
                                            <li><span class="am-icon-weixin am-text-success"> 235+</span></li>
                                            <li><span class="am-icon-github font-green"> 600+</span></li>
                                        </ul>
                                    </div>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                            <a type="button" href="{:url('Index/xinwen',['id'=>$vo['Id']])}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                            <a type="button" href="{:url('Index/upxinwen',['id'=>$vo['Id']])}"  class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-edit"></span> 编辑</a>
                                            <a type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</a>
                                            <a type="button" href="{:url('Index/delxinwen',['id'=>$vo['Id']])}" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/volist}
                        <div class="am-u-lg-12">
                            <div class="am-cf">

                                <div class="am-fr">
                                   {$page}
                                </div>
                            </div>
                            <hr>
                        </div>

                    </div>


                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>










    </div>

</div>


{include file="public/js"}
</body>

</html>